/* Styling for the accordion layout on project pages
Accompanied by accordion.js for expanding and collapsing the accordion sections.
*/

/* Style for accordion item/block */
.accordion-item {
	
}

/* Style for content within the accordion item (hidden by default) */
.accordion-content {
    max-height: 0; /* Start with 0 height */
    overflow: hidden;
    transition: max-height 1s ease-out;
    background-color: white;
}

/* Style for accordion titles */
.accordion-title {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

/* Style when hovering over an accordion block*/
.active, .accordion-title:hover {
	background-color: #ccc; 
}

/* Expanded state for the accordion content */
.expanded {
    max-height: 1000px; /* Or a value large enough to fit all content */
    padding: 0;
	overflow-y: auto; /* Enable vertical scrolling. Ideally max-height is set sufficiently to not require this*/
}