/*Flex container to hold all the cards*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* Styling for the Card */
.card {
    flex: 1 1 250px; /* Initial width, adjust as needed */
    max-width: 300px; /* Maximum width of the card */
    background-color: #eaeaea;
    margin: 10px;
    
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    
	transition: 0.5s; /* Transition time when hovering/un-hovering */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.card-content{
	margin: 0px;
	padding: 0px;
}

/*Card title styling (as hyperlink)*/
.card a{
	text-decoration: none;
	text-align:center;
	color: black;
}

/*Enhance shadow when hovered*/			
.card:hover 
{
	box-shadow: 0 15px 20px 0 rgba(0,0,0,1);
}

/*Styling of image within card*/	
.card img{
	width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 1 / 1; /* Ensure the image stays square */
    object-fit: cover; /* Crop the image if necessary to fit */
}

/*Media query for small displays*/
@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px); /* Two cards per row with margin */
    }
}

/*Fade in the cards from opacity 0 to 1*/
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}