/*Flex container to hold all the cards*/
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*border-style: solid;*/
}

/* Styling for the Card */
.card {
    flex: 1 1 250px; /* Initial width, adjust as needed */
    max-width: 300px; /* Maximum width of the card */
    background-color: #eaeaea;
	border-radius: 10px;  /* Adjust the value to control the roundness */
	overflow: hidden;     /* Ensures the content inside the card doesn't spill over the rounded corners */
    margin: 10px;
    
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
    
	transition: 0.5s; /* Transition time when hovering/un-hovering */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


/*Card title styling*/
.card-content h3{
	margin: 0px;
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
}	

/*Card title styling (as hyperlink)*/
.card a{
	text-decoration: none;
	text-align:center;
	color: black;
}

/*Enhance shadow when hovered*/			
.card:hover 
{
	box-shadow: 0 15px 20px 0 rgba(0,0,0,1);
}

/*Styling of image within card*/	
.card img{
	width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 1 / 1; /* Ensure the image stays square */
    object-fit: cover; /* Crop the image if necessary to fit */
}

/*Media query for small displays*/
@media (max-width: 768px) {
    .card {
        flex-basis: calc(33% - 10px); /* Three cards per row cards per row with margin */
		max-width: calc(30%);  /*Force all cards this size. Needed when bottom column has one card*/
		margin: 5px;	/*Reduce the margins*/
    }
	
	
	/* Adjust card titles for smaller displays */
	.card-content h3{
		margin: 0px;
		padding: 5px;
		font-size: 12px;
	}
}

/*Fade in the cards from opacity 0 to 1*/
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}