/*
This style sheet is used for features used globally:
1. Page styling
2. Navbar styling
3. Breadcrumb styling

X. Media query
*/


/*---------------------------------General page Styling-------------------------------*/
body {
  /* border-style: solid; */
	background-color:#474e5d;
}

/* An overall page container*/
div.pageContainer{
	width: 80%;
	margin: auto;
	background-color:GhostWhite;
	border-radius:5px;
}

/* Container holding the main page content*/
div.contentContainer{
	padding: 25px 25px 25px;  /*(Top, Left/Right, Bottom)*/
	/* border-style:solid; */
}

header{
	padding: 5px;
}	

/* Styling of the logo image within the header tags  */
header img {
  float: left;
  height: 75px;
}

footer{
	border-top:solid;
	border-width: 1px;
	text-align: center;
	padding: 5px;
}

/* styling of the icons used in the navbar */
i {
	padding-right:10px;
}	

/* styling of shadows used for images or text boxes etc */
.shadow{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); /* Box shadow */
}


/*---------------------------------Navbar Styling-------------------------------*/
/*-----------Default styling first. Media query is further down.-----------*/
#navBar {
  overflow: hidden;
  border-bottom:solid;
  border-width: 1px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color:inherit;
  z-index: 1000; /* Ensure the navigation bar stays on top */
}
  
 
#navBar ul {
	list-style-type: none; /* Remove default bullet points */
	padding: 0; /* Remove default padding */
	margin: 0; /* Remove default margin */
}

#navBar ul li {
	display: inline-block; /* Display list items horizontally */
}

#navBar ul li a {
	display: block; /* Make links block-level for better clickability */
	background-color: gray;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	padding: 5px 20px;
	margin: 5px;
	border-radius:40px;
}

/* Add effect on hover */
#navBar ul li a:hover {
	background-color: black;
	color: white;
}

/* Add effect to active page button */
#navBar ul li a.active {
  background-color: black;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width:100%;
}

/*---------------------------------Breadcrumb Styling (when used)-------------------------------*/

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  margin-Top: 0px; /* Remove the default margin on top. Default bottom margin still needed */
  list-style: none; 
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*---------------------------------Media Query-------------------------------*/

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
	
	#navBar ul li a {
	font-size: 0; /* Hide the text */
	display: flex; /* Use flexbox for centering the icon */
	align-items: center; /* Center items vertically */
	justify-content: center; /* Center items horizontally */
	}

	#navBar ul li a i {
	font-size: 25px; /* Ensure icons are visible and properly sized */
	}

	#navBar ul li a.active {
	font-size: 15px; /* Show text for active page */
	}
	
	div.pageContainer{
	width: 100%;		/* Make it full width to maximise visibility on small displays */
	}
	
	div.contentContainer{
	padding: 25px 5px 0;  /*(Top, Left/Right, Bottom). Left/Right padding reduced for imrpoved visibility on small screens*/
	}
	
}